* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    height: 70px;
}

header h1 {
    display: inline-block;
    padding: 16px 24px;
    text-transform: uppercase;
}

header h1 a {
    transition: .3s;
}

header h1 a:hover {
    color: #f84744;
}

header ul {
    float: right;
}

header ul li {
    padding: 24px;
    display: inline-block;
}

header ul li a {
    transition: .3s;
}

header ul li a:hover {
    color: #f84744;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
}

container::after {
    content: '';
    display: block;
    clear: both;
}

.mobile-menu {
    float: right;
    display: none;
    padding: 18px;
    border: 1px solid;
}

.mobile-menu:hover {
    cursor: pointer;
}

#check {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(16, 47, 80, .9);
    transition: .3s;
}

.sidebar ul li a {
    color: #fff;
}

.sidebar ul li {
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
}

.sidebar ul li:hover {
    background-color: #f84744;
}

#check:checked~.sidebar {
    left: 0;
}

.banner {
    background-color: black;
}

section {
    padding: 100px 0;
}

.banner img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
}

#about p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.education {
    text-align: center;
    background-color: blue;
}

.Work-Experience {
    text-align: center;
    background-color: red;
}

.col-3 {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}

.col-3 h4 {
    padding-bottom: 10px;
}

footer {
    background-color: black;
    padding: 30px;
    text-align: center;
}

footer small {
    color: white;
}

footer i {
    color: white;
}

html {
    scroll-behavior: smooth;
}

#darkmode {
    background: black;
    color: white;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }
    header ul {
        display: none;
    }
}